@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #2a2d2f;
  background: #fff;
  font-size: 1rem;
}

@layer components {
  .heading {
    font-size: 52px;
    letter-spacing: 1px;
    text-transform: capitalize;
    @apply text-skin-black-900 font-inter font-bold capitalize leading-normal;
  }
  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
    @apply text-skin-black-500 text-left  font-normal font-inter;
  }
}
.login_btn {
  display: inline-flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.07);
}
.login_btn span {
  background: var(
    --Gradient-1,
    linear-gradient(99deg, #69b3da 0%, #4aa3d3 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
strong {
  background: var(
    --Gradient-1,
    linear-gradient(99deg, #69b3da 0%, #4aa3d3 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscribe_btn {
  display: inline-flex;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 64px;
  background: var(
    --Gradient-1,
    linear-gradient(99deg, #69b3da 0%, #4aa3d3 100%)
  );
  box-shadow: 0px 3px 12px 0px rgba(74, 163, 211, 0.32);
  color: var(--primary-0, #fff);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  line-height: 150%; /* 24px */
}
.subscribe_btn:active {
  opacity: 50%;
}
